  
.choose-category {
    padding: 8px;
    margin-left: 15px;
    color: white;
    background-color: black;
    border: none;
    font-family: 'RocknRoll One', sans-serif;
    font-size: 1rem;
}

.navbar {
    position: fixed;
    left: 150px;
    top: 40px;
    z-index: 3;
}