


.logo{
  color: white;
  position: fixed;
  left: 5%;
  text-decoration: none;
}
.links{
  color: white;

  font-size: 1rem;
  text-decoration: none;
  font-family: 'RocknRoll One', sans-serif;
}


.App {
  display: inline;
}

nav{
  display: flex;
  background-color: black;
  align-items: center;
  color: white;
  justify-content: space-around;
  padding-bottom: 10px;
  height: 60px;
  margin-bottom: 10px;
}
