html{
  background-image: url(./images/background2.jpg);
  background-color: white;
  background-size: cover;
}

.search-form {
  position: fixed;
  z-index: 3;
  left: 450px;
  top: 20px;
  width: auto;
  height: 75px;

  margin-top: 20px;
  background-color: black;
  background-size: cover;
}

input{
  /* margin-left: 300px; */
  height: 40px;
  width: 500px;
  padding: 0px 10px;
  font-size: 1.2rem;
}

input:focus {
  outline: none;
}

.button {
  display:inline;
  border: 3px black;
  height: 40px;
  background-color: black;
  font-size: 1rem;
  color:white;
  font-family: 'RocknRoll One', sans-serif;
  margin: 10px;
}



.button-container {
  width: auto;
  display: inline;
}

.post-list {
  margin-top: 200px;
  position: relative;
  z-index:1;
}