html{
  background-image: url(./images/background2.jpg);
  background-size: cover;
}

.search-form {
  width: auto;
  height: 75px;
  margin: 0px;
  background-color: black;
  background-size: cover;
}

input{
  margin-left: 300px;
  height: 40px;
  width: 500px;
  padding: 0px 10px;
  font-size: 1.2rem;
}

input:focus {
  outline: none;
}

.button {
  display:inline;
  border: 3px black;
  height: 40px;
  background-color: black;
  font-size: 1rem;
  color:white;
  font-family: 'RocknRoll One', sans-serif;
  margin: 10px;
}

.post{
  display: inline-flex;
  position:relative;
  flex-direction: column;
  height: 500px;
  width: 210px;
  margin: 20px;
  padding: 10px;
  font-family: 'RocknRoll One', sans-serif;
  background-color: rgba(250, 250, 250, 0.8);
}

.post>img{
  margin: 5px 5px;
  object-fit: cover;
  height: 200px;
  width: 200px;
}

.upload-button {
  border: 3px solid rgba(100, 0, 0, 0.6);
  height: 30px;
  border-radius: 5px;
  background-color: white;
  font-size: 1rem;
  margin: 10px;
  font-family: 'RocknRoll One', sans-serif;
}




.button-container {
  width: auto;
  display: inline;
}

.like-button {
  position:absolute;
  border-radius: 10px;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  font-family: 'RocknRoll One', sans-serif;
  background-color: rgba(214, 135, 184, 0.39);
}

.like-button >p {
  margin:0 auto;
}