.popup {
    position:fixed;
    left: 50px;
    z-index: 9;
    box-sizing: border-box;    
    width:80%;
    height: 50%; 
    background-color: rgba(255, 255, 255, 0.1);
    display:flex;
    justify-content: center;
    align-items: center;
}
.popup-inner {
    position: relative;
    z-index: 10;
    background-color: white;
    border-radius: 10px;
    width:600px;
    height: 300px;
}
.popup-inner .close{
    position:absolute;
    top: 10px;
    right: 10px;
    border: 3px black;
    height: 40px;
    background-color: black;
    font-size: 1rem;
    color:white;
    font-family: 'RocknRoll One', sans-serif;
    
}
.popup-inner .upload-image{
    margin-left: 2%;
    margin-top: 2%;
    padding: 0;
    width: 80%;
    color: black;    
    font-size: 1.2rem;
 
}
.popup-inner .upload-category{
    margin-left: 2%;
    margin-top: 2%;
    padding: 8px;
    width: 80%;
    color: black;    
    font-size: 1.2rem;
}

.popup-inner .upload-submit{
    position:absolute;
    bottom: 10px;
    right: 10px;
    border: 3px black;
    height: 40px;
    background-color: black;
    font-size: 1rem;
    color:white;
    font-family: 'RocknRoll One', sans-serif;
    
}

.popup-inner .upload-form{     
    margin-left: 2%;
    margin-top: 2%;
    width: 80%;
}

