html{
  margin: 0;
  background-image: url(./images/background.jpg);
}


.search {
  height:fit-content;
  width: fit-content;
  margin: 40px auto;
}

input{
  height: 40px;
  width: 500px;
  border: 3px solid rgba(100, 0, 0, 0.6);
  padding: 0px 10px;
  border-radius: 2px;
  font-size: 1.2rem;
}

input:focus {
  outline: none;
}

.search-button {
  border: 3px solid rgba(100, 0, 0, 0.6);
  height: 40px;
  border-radius: 2px;
  background-color: white;
  font-size: 1rem;
  font-family: 'RocknRoll One', sans-serif;
  margin: 10px;
}

.post{
  display: flex;
  flex-direction: column;
  height: 370px;
  width: 220px;
  margin: 20px auto;
  padding: 10px;
  font-family: 'RocknRoll One', sans-serif;
  background-color: rgba(237, 245, 255, 0.8);
}

.post>img{
  margin: auto;
  width: 200px;
}

.upload-button {
  border: 3px solid rgba(100, 0, 0, 0.6);
  height: 30px;
  border-radius: 5px;
  background-color: white;
  font-size: 1rem;
  margin: 10px;
  font-family: 'RocknRoll One', sans-serif;
}
